<a href="/hotels">Hotel Index</a><br/>
<a href="/rooms">Room Index</a>
<% @rooms.each do |room| %>
  <h3><%= room.name %></h3>
  <p>Occupied: <%= room.occupied %></p>
  <p>Number of Guests: <%= room.guest_count %></p>
<% end %>
